{% extends 'base.html' %}

{% block title %}
  Детали нагрузки
{% endblock %}

{% block content %}
  <h1>Детали нагрузки</h1>
  <ul class="list-group mb-3">
    <li class="list-group-item"><strong>Дисциплина:</strong> {{ workload.disciplines.name_of_discipline }}</li>
    <li class="list-group-item"><strong>Семестр:</strong> {{ workload.semesters.number }}</li>
    <li class="list-group-item"><strong>Группа:</strong> {{ workload.groups.name }}</li>
    <li class="list-group-item"><strong>Количество подгрупп:</strong> {{ count_subgroups }}</li>
  </ul>

  <h4>Типы нагрузки</h4>
  <form>
    <table class="table table-bordered">
      <thead>

      </thead>
      <tbody>
        {% for lt in workload.load_types.all %}
          <li>{{ lt.type }}</li>
        {% empty %}
          <li>Нет типов нагрузки</li>
        {% endfor %}
      </tbody>
    </table>
  </form>
  <a class="btn btn-secondary" href="{% url 'workload_list' %}">← Назад к списку нагрузок</a>
  {% if user.groups.all.0.name == 'Директор департамента' or user.is_superuser %}
    <a href="{% url 'workload_update' workload.pk %}" class="btn btn-warning ms-2">Редактировать типы нагрузки</a>
  {% endif %}
{% endblock %}